@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-space-grotesk: 'Space Grotesk', sans-serif;
    --font-roboto-mono: 'Roboto Mono', monospace;
    --font-orbitron: 'Orbitron', sans-serif;
  }

  body {
    @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-white transition-colors duration-200;
    font-family: var(--font-space-grotesk);
  }
}

@layer utilities {
  .bg-dark-elegant {
    @apply bg-gray-950;
  }

  .font-orbitron {
    font-family: var(--font-orbitron);
  }

  .font-roboto-mono {
    font-family: var(--font-roboto-mono);
  }
}

